.single-tag {
    background: rgb(239, 242, 251);
    border-radius: 8px;
    color: rgb(77, 91, 124);
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.71429;
    margin: 4px 8px 4px 0;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
    transition: background 0.15s linear 0s, color 0.15s linear 0s;
    white-space: nowrap;
}

.single-tag:hover {
    background: rgb(18, 83, 250);
    color: rgb(255, 255, 255);
}

#text {
    display: none;
}
