{% extends 'blog/base.html' %}
{% load static %}
{% block pageCustomCSS %}{% static 'blog/css/add_post.css' %}{% endblock %}
{% block title %}Create new blog post{% endblock %}

{% block body %}
    <div class="apd-form">
        <h1>Add Post</h1>
        <br><br>
        <div class="form-group">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
        </div>
    </div>
{% endblock %}