<p>When you&#39;re a computer science student, and you need to install diglog, the first thing coming to mind is to try to read the documentation. The problem is, I read it, but it was not useful for me personally. I spent time searching on Google about it, but I found almost nothing.</p>

<p>For the persons who don&#39;t know what Log is, it&#39;s a&nbsp;circuit schematic capture tool and simulation&nbsp;environment, written by Dave Gillespie. Highlights of the Log system include:<br />
- Schematic capture<br />
- Netlist generation<br />
- Simulation data visualization&nbsp;<br />
and so on...</p>

<p>The link to it is <a href="https://john-lazzaro.github.io/chipmunk/describe/log.html" target="_blank">here</a></p>

<p>I&#39;m not going to write a long article and will get to the point directly. It&#39;s not easy to install it when you know almost nothing about it.</p>

<p>This is a step to step on how to do it on Ubuntu. It might change on time, but there it is.</p>

<p><img alt="An example of diglog schematic" src="/media/images/post/diglog.jpg" style="height:457px; width:739px" /></p>

<h2>Installing it via a bash script</h2>

<p>Download the bash script and the patch file on <a href="https://github.com/adamspd/diglog-install" target="_blank">https://github.com/adamspd/diglog-install</a> and go to the terminal and get to the folder you have the script downloaded and type the following command:</p>

<div class="console">
      <div class="consolebody">
        <p>&gt;&nbsp;./diglog-install-unix.sh</p>
        <p>&gt;</p>
      </div>
    </div>

<h2>Manual installation: what you&#39;ll need to do</h2>

<p>You&#39;ll need to download psys and log, this is the link to do it:<br />
<a href="https://john-lazzaro.github.io/chipmunk/pickup/pickup.html" target="_blank">https://john-lazzaro.github.io/...</a></p>

<p>After you&#39;ve downloaded it, you must create a folder named &quot;diglog&quot; or whatever name you like to untar the files you download in it. Sometimes when you untar the file it gives a folder name log.5.x something like that, you must enter in it and remove the folder name log, otherwise, that won&#39;t work. Do the same for psys, untar it and enter in it if the folder resulting of the untar is named psys.x.x (where x is a number) and move the simple folder name psys into the folder you&#39;ve created named &quot;diglog&quot;.&nbsp;</p>

<p>&nbsp;</p>

<p>So now you have a folder name &quot;diglog&quot;. Inside of it, there are 4 folders, log.x.x (which is empty cause you moved the folder named log into &quot;diglog&quot;), log, psys.x.x (which is also empty) and psys.<br />
Now download this file <a href="https://github.com/adamspd/diglog-install/blob/master/diglog32.patch">https://github.com/adamspd/diglog-install/...</a> and open a terminal.<br />
Go into your folder called diglog and do the following command.&nbsp;</p>

<div class="console">
      <div class="consolebody">
        <p>&gt;&nbsp;patch -p1 < ./diglog32.patch</p>
        <p>&gt;</p>
      </div>
    </div>

<p>then</p>

<div class="console">
      <div class="consolebody">
        <p>&gt;&nbsp;cd psys/src</p>
        <p>&gt;&nbsp;make</p>
        <p>&gt;&nbsp;cd ../..</p>
        <p>&gt;&nbsp;mkdir bin</p>
        <p>&gt;&nbsp;cd log/src</p>
        <p>&gt;&nbsp;make</p>
        <p>&gt;&nbsp;</p>
      </div>
    </div>

<div class="console">
      <div class="consolebody">
        <p>&gt;&nbsp;./bin/diglog</p>
        <p>&gt;</p>
      </div>
    </div>

<p><code>./bin/diglog</code></p>

<h2>Congrats</h2>

<p>If everything works out well, then you have it installed and ready to go. Enjoy !</p>
