{% extends 'blog/base/base.html' %}
{% load static %}
{% block pageCustomCSS %}
    <link rel="stylesheet" href="{% static 'blog/css/add_post.css' %}">
{% endblock %}
{% block site_description %}
    Update blog post | A blog by Adams
{% endblock %}
{% block title %}Update blog post{% endblock %}

{% block body %}
    <div class="container">
        <div class="apd-form">
            <h1>Update Post</h1>
            <br><br>
            <div class="form-group">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}