{% extends 'blog/base/base.html' %}
{% load static %}
{% block pageCustomCSS %}
    <link rel="stylesheet" href="{% static 'blog/css/add_post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/tag_and_categories.css' %}">
{% endblock %}
{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="">
                <br><br>
                <div class="p-4 mb-3 bg-light rounded">
                    <h1 class="font-italic">{{ page_title }}</h1>
                    {% if tags %}
                        <div class="mb-0">
                            {% for tag in tags %}
                                <a href="{{ tag.get_absolute_url }}" class="single-tag">
                                    <span>{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if categories %}
                        <div class="mb-0">
                            {% for tag in categories %}
                                <a href="{{ tag.get_absolute_url }}" class="single-tag">
                                    <span>{{ tag.name }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <br><br>
{% endblock %}